{% extends 'note/base.html' %}

{% block title %} About - My Website {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>About Us</h2>
            <p>
                Welcome to My Website! We are a team of passionate individuals dedicated to providing
                valuable content and services. 
            </p>
            <!-- Add more content about your website/company -->
        </div>
    </div>
{% endblock %}

